body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 1rem;
    text-align: center;
}

.logo {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.footer {
    margin-top: 1rem;
    text-align: center;
}
